.section1 {
    display: flex;
}

.section1 > ui5-li, .section3 > ui5-li  {
    margin-right: 2rem;
    --ui5-listitem-background-color: transparent;
}

.section2 {
    display: flex;
}

.section2-timeline {
    width: 350px;
}

.section2-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 650px;
}

.section3 {
    display: flex;
    flex-wrap: wrap;
}

.section3 > ui5-li {
    width: 300px;
    margin-bottom: 1rem;
}

.section4-header {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.margin-right {
    margin-right: 1rem;
}

.searchWrapper {
    display: flex;
    align-items: center;
}

.input-width {
    width: 320px;
}

.inputIcon {
    background: #fafafa;
    color: #0a6ed1;
    cursor: pointer;
}

.inputIcon:hover{
    background: rgba(224,224,224,0.5)
}

.bold {
    font-weight: bolder;
}

.red-color {
    color: red;
}